.add {
    color: green;
}

.edit {
    color: dodgerblue;
}

.delete {
    color: red;
}

.error {
    background: dodgerblue;
    width: 25%;
    color: black;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
}

.msg {
    font-style: italic;
    color: red;
}

table {
    padding: 10px 20px;
    border-collapse: collapse;
}

td, th {
    padding: 10px 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}
